<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile - VISHAL</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="shortcut icon"
      href="{% static 'img/logo.png' %}"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <div class="image-person">
          <img
            src="{% static 'img/vishal_piprotar.jpeg'%}"
            alt="vishal_piprotar.jpg"
          />
        </div>
        <div class="contact">
          <h3>Contact</h3>
          <div class="links">
            <li><a href="#">piprotarvishal20@gmail.com</a></li>
            <li><a href="#">6352497433</a></li>
            <li><a href="#">VISHAL PIPROTAR</a></li>
            <li><a href="#">Vishal-Piprotar</a></li>
            <li><a href="#">mr_vishal_099</a></li>
          </div>
        </div>

        <div class="top">
          <h3>Top Skill</h3>
          <div class="list">
            <ol>
              <li>Web Developer</li>
              <li>Python</li>
              <li>Django</li>
              <li>MERN STACK</li>
            </ol>
          </div>
        </div>
        <div class="language">
          <h3>LANGUAGE</h3>
          <div class="list">
            <ul>
              <li>GUJRATI</li>
              <li>HINDI</li>
              <li>ENGLISH</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="main">
          <h1>VISHAL PIPROTAR</h1>
          <h3>Student at L.D. College of Engineering</h3>
          <h3 class="gray">Ahmedabad, Gujarat, India</h3>
        </div>
        <div class="summary">
          <h2>Summary</h2>
          <p>
            I am pursuing my bachelor's from LD college of engineering in
            information technology field.
          </p>
        </div>

        <div class="Education">
          <h2>Education</h2>
          <div class="details">
            <h3>L.D. College of Engineering</h3>
            <p>
              Bachelor of Engineering - BE, Information Technology · (2021 -
              2025)
            </p>
          </div>
          <div class="details">
            <h3>P V MODI SCHOOL- JAMNAGAR</h3>
            <p>11-12th, Science · (2019 - 2020)</p>
          </div>
          <div class="details">
            <h3>PARISHRAM SCHOOL - BHANVAD</h3>
            <p>Below 10 (Primary Education)</p>
          </div>
        </div>

        <div class="Experience">
          <h2>Experience</h2>
          <div class="details">
            <h3>Leadership</h3>
            <p>
              Design Engineering <br />
              June 2022-23(2 Year) <br />
              Ahmedabad, Gujarat, India
            </p>
          </div>
          <div class="details">
            <h3>Innovator Club</h3>
            <p>
              Web Developer <br />November 2023<br />
              Ahmedabad, Gujarat, India
            </p>
          </div>
        </div>
        <div class="skills">
          <h2>Skills</h2>
          <div class="list">
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>PHP</li>
              <li>Django</li>
              <li>MERN STACK</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
